h1 {
  font-size: 4rem;
}

.btn-style {
  background-color: #edd6c0;
  padding: 1.5rem;
  border-radius: 3rem;
  width: fit-content;
}

.btn-style img {
  width: 1.2rem;
}

.modal-content {
  background-color: #edd6c0;
}

.btn-modal {
  background-color: rgba(97, 107, 61, 1);
  color: white;
}

.btn-modal:hover {
  background-color: rgba(97, 107, 61, 0.5);
}

.btn-modal-close {
  background-color: rgba(146, 67, 1, 1);
  color: #ffffff;
}

.btn-modal-close:hover {
  background-color: rgba(146, 67, 1, 0.5);
}

.card-body {
  background-color: #f5f5f5;
  box-shadow: 20px 20px 35px #d0d0d0, -20px -20px 35px #ffffff;
}

.icon-color {
  color: #6a512b;
}

.list-layout li {
  list-style-type: none;
}

footer {
  background-color: #6a512b;
}
